body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Kaushan Script', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background: url('img/Bradley_bridge.jpg') fixed no-repeat;
  background-size: cover;
}
button{
  cursor: pointer;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
}
