ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }


li {
    display: inline;
    padding: 14px;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.main-nav-active {
    background-color: orange;
}